= form_for @staff do |f|
  - if @staff.errors.any?
    #error_explanation
      %h2= "#{pluralize(@staff.errors.count, "error")} prohibited this staff from being saved:"
      %ul
        - @staff.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :name
    = f.text_field :name
  .field
    = f.label :idcode
    = f.number_field :idcode
  .field
    = f.label :position
    = f.text_field :position
  .field
    = f.label :birth_date
    = f.date_select :birth_date
  .field
    = f.label :information
    = f.text_area :information
  .field
    = f.label :employement_date
    = f.date_select :employement_date
  .field
    = f.label :general_access
    = f.check_box :general_access
  .field
    = f.label :financial_access
    = f.check_box :financial_access
  .actions
    = f.submit 'Save'
