<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @good.title %>
</p>

<p>
  <strong>Code:</strong>
  <%= @good.code %>
</p>

<p>
  <strong>Price:</strong>
  <%= @good.price %>
</p>

<p>
  <strong>Description:</strong>
  <%= @good.description %>
</p>

<p>
  <strong>Sizes:</strong>
  <%= @good.sizes %>
</p>

<p>
  <strong>Manufacturer:</strong>
  <%= @good.manufacturer %>
</p>

<%= link_to 'Edit', edit_good_path(@good) %> |
<%= link_to 'Back', goods_path %>
